<div class = "container">
	<div class="row">
		<div class="col-xs-3">

			<h2>User info</h2>
			<%= render 'users/profile', user: @book.user %>
			<% if @book.user != current_user %>
				<div class="row">
					<% if current_user.following?(@book.user) %>
						<%= link_to 'フォローを外す', unfollow_path(@book.user.id), method: :post %>
					<% else %>
						<%= link_to 'フォローする', follow_path(@book.user.id), method: :post %>
					<% end %>
				</div>
			<% end %>

			<h2>New book</h2>
			<%= render 'layouts/error', model: @book %>
			<%= render 'books/newform', book: @bbook %>

		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>

			<table class="table">
					<tr>
						<td>
							<%= link_to (@book.user) do %>
							<%= attachment_image_tag(@book.user, :profile_image, size: "100x100", fallback: "no-image-mini.jpg") %><br>
							<%= @book.user.name %>
							<% end %>
						</td>
						<td><%= link_to @book.title, @book %></td>
						<td><%= @book.body %></td>
						<% if @book.user == current_user %>
							<td><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %>
							</td>
							<td><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %>
							</td>
						<% end %>
					</tr>
				</table>

		</div>
	</div>
</div>

